<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="about-main" style="display: flex; flex-wrap: wrap; justify-content: center; padding: 10px;">
      <h1>This is My first website I ever made</h1>
      <p>
        Almost no one is going to visit this website, but still it is a
        memorable experience that would be on net forever.❤️
      </p>
    </div>
  </body>
</html>
